{% extends 'base.html' %}
{% load static %}


{% block content %}


<section class="section feature" aria-label="feature" id="featured">
        <div class="container">

          <h2 class="headline headline-2 section-title"><br><br>
            <span class="span">Projects</span>
          </h2>

          <p class="section-text">
            <a href="https://github.com/Sohail342" target="_blank" class="social-link">
              <ion-icon name="logo-github"></ion-icon>
              Explore more on 
              <span class="span">Github</span>
            </a>
          </p>

          <ul class="feature-list">

            {% for project in projects %}
            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <img src="{{project.project_img.url}}" width="1602" height="903" loading="lazy"
                    alt="Self-observation is the first step of inner unfolding" class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <p class="span hover-2">
                        {{project.project_skills_gain}}
                      </p>
                    </div>

                    <div class="wrapper">

                      <span class="span">{{project.project_associate}}</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="{{project.project_link}}" class="card-title hover-2">
                      {{project.project_title}}
                    </a>
                  </h3>

                  <div class="card-wrapper">

                    <a href="{{project.project_link}}" class="card-btn">Repository</a>

                  </div>

                </div>

              </div>
            </li>
            {% endfor %}

          </ul>

        </div>

    <img src="{% static 'images/shadow-3.svg' %}" width="500" height="1500" loading="lazy" alt="" class="feature-bg">

</section>
{% endblock %}
